﻿
 
@model Todo.Models.Story;

<div class="text-center marginprop">
    
    <div class="card story-card">
        <div class="card-header bg-primary header-text">
            <h4 style="color:white;">Add Story</h4>
        </div>


        <div class="card-body">
            <form class="input-forms" method="post" formaction="/Index/Add">
        
                <div class="input-group input-group-lg">
                    <input  type="text"  class="form-control story" placeholder="Write your story..."  width="30" required>
                    <button type="submit" id="add" class="btn btn-lg btn-success" style="margin-left: 12px;">Add</button>
                </div>

            </form>
        </div>
    </div>
    <div class="space"></div>

    <div class="card stories" style="margin-top:2%;">
        <div class="card-header" style=" background-color:lightgreen; opacity:0.3">
            <h4>Your Stories</h4>
        </div>
        <div class="card-body" id="story-card">
           
        </div>
    </div>
    
</div>
